@import url('https://fonts.googleapis.com/css2?family=Assistant&family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;600;700;800&family=Manrope:wght@500&family=Montserrat:wght@500;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
body {
  font-family: 'Inter', sans-serif;
}
.dmsans{
    font-family: 'DM Sans', sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.manrope{
    font-family: 'Manrope', sans-serif;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.assistant{
    font-family: 'Assistant', sans-serif;
}

}
@layer components{
  .icn{
  @apply text-[#F4511E] md:text-3xl font-black rounded inline-block md:mb-2
  }
  .btn{
  @apply inline-block text-xs lg:text-sm bg-[#F4511E] px-4 py-3 manrope text-[#FFF] rounded hover:bg-[#FF824F] transition
  }
}
